In [44]:
import numpy as np
import pandas as pd
import streamlit as st

# 파일불러오기
file_path = 'tpss_bcycl_od_statnhm_20240106.csv'
df_rent1 = pd.read_csv(file_path,encoding='cp949')

# 조회조건 설정 =======================================================================

# 시작대여소 : 사용량이 많은 순으로 10개 보여줌
st_rent_id = df_rent1['시작_대여소_ID'].value_counts(ascending=False)[:10].index.to_list()
st_rent_id.insert(0,'선택안함')
st_rent_id = tuple(st_rent_id)
print(st_rent_id)

# list_rent = []
# for id in s_rent:
#     list_rent.append(id)

# tpl_rent = tuple(s_rent)
# # print(tpl_rent)


# cond = df_rent1['시작_대여소_ID']==selected_id
# print(df_rent1.loc[cond,:])

('선택안함', 'ST-2031', 'ST-702', 'ST-1546', 'ST-413', 'ST-1065', 'ST-1121', 'ST-891', 'ST-2017', 'ST-2820', 'ST-2011')

In [13]:
list = [2, 9, 3]
print(list)
list.insert(0, 'a')
print(list)

[2, 9, 3]
['a', 2, 9, 3]

In [45]:
df_rent1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112742 entries, 0 to 112741
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   기준_날짜      112742 non-null  int64
 1   집계_기준      112742 non-null  object
 2   기준_시간대     112742 non-null  int64
 3   시작_대여소_ID  112742 non-null  object
 4   시작_대여소명    112742 non-null  object
 5   종료_대여소_ID  112742 non-null  object
 6   종료_대여소명    112287 non-null  object
 7   전체_건수      112742 non-null  int64
 8   전체_이용_분    112742 non-null  int64
 9   전체_이용_거리   112742 non-null  int64
dtypes: int64(5), object(5)
memory usage: 8.6+ MB

In [55]:
df_rent1['기준_날짜'] = df_rent1['기준_날짜'].astype('str')
df_rent1['기준_날짜'] = pd.to_datetime(df_rent1['기준_날짜'], format='%Y-%m-%d').dt.date
df_rent1['기준_날짜'].dt.strftime(%Y-%m-%d)

SyntaxError: invalid syntax (899690823.py, line 3)

In [106]:
file_path1_4 = 'tpss_bcycl_od_statnhm_20240104.csv'
file_path1_5 = 'tpss_bcycl_od_statnhm_20240105.csv'
file_path1_6 = 'tpss_bcycl_od_statnhm_20240106.csv'

df_rent1_4 = pd.read_csv(file_path1_4,encoding='cp949')
df_rent1_5 = pd.read_csv(file_path1_5,encoding='cp949')
df_rent1_6 = pd.read_csv(file_path1_6,encoding='cp949')

# 전처리

# 날짜별 데이터 합치기
df_rent1 = pd.concat([df_rent1_4,df_rent1_5,df_rent1_6],axis=0)
print(df_rent1)

           기준_날짜 집계_기준  기준_시간대 시작_대여소_ID     시작_대여소명 종료_대여소_ID     종료_대여소명  \
0       20240104  출발시간       0   ST-1014  신정3동_101_1    ST-676  고척2동_035_1
1       20240104  출발시간       0   ST-1017   목5동_059_1    ST-310   목4동_047_1
2       20240104  출발시간       0   ST-1055   강일동_001_1   ST-2744   강일동_001_5
3       20240104  출발시간       0   ST-1082   장지동_019_1   ST-2599   장지동_012_3
4       20240104  출발시간       0   ST-1092  풍납2동_026_1    ST-502  성내1동_007_1
...          ...   ...     ...       ...         ...       ...         ...
112737  20240106  도착시간    2355    ST-884   중앙동_009_1   ST-1548   은천동_065_1
112738  20240106  도착시간    2355    ST-913  월계3동_039_1   ST-2708  월계2동_025_1
112739  20240106  도착시간    2355    ST-919  고척1동_006_1   ST-1227  개봉1동_050_1
112740  20240106  도착시간    2355     ST-93   상암동_026_4     ST-43   신촌동_030_2
112741  20240106  도착시간    2355    ST-950   조원동_032_1    ST-709   미성동_014_1

        전체_건수  전체_이용_분  전체_이용_거리
0           1        6      2320
1           1        6       909
2           1       93     12860
3           1        5       910
4           1        5      1063
...       ...      ...       ...
112737      1        6       960
112738      1        9      1569
112739      1        6       353
112740      1       37      4579
112741      1       11      1878

[481182 rows x 10 columns]

In [110]:
df_rent1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 481182 entries, 0 to 112741
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   기준_날짜      481182 non-null  object
 1   집계_기준      481182 non-null  object
 2   기준_시간대     481182 non-null  int64
 3   시작_대여소_ID  481182 non-null  object
 4   시작_대여소명    481182 non-null  object
 5   종료_대여소_ID  481182 non-null  object
 6   종료_대여소명    479319 non-null  object
 7   전체_건수      481182 non-null  int64
 8   전체_이용_분    481182 non-null  int64
 9   전체_이용_거리   481182 non-null  int64
dtypes: int64(4), object(6)
memory usage: 40.4+ MB

In [109]:
df_rent1

,기준_날짜,집계_기준,기준_시간대,시작_대여소_ID,시작_대여소명,종료_대여소_ID,종료_대여소명,전체_건수,전체_이용_분,전체_이용_거리
0,2024-01-04,출발시간,0,ST-1014,신정3동_101_1,ST-676,고척2동_035_1,1,6,2320
1,2024-01-04,출발시간,0,ST-1017,목5동_059_1,ST-310,목4동_047_1,1,6,909
2,2024-01-04,출발시간,0,ST-1055,강일동_001_1,ST-2744,강일동_001_5,1,93,12860
3,2024-01-04,출발시간,0,ST-1082,장지동_019_1,ST-2599,장지동_012_3,1,5,910
4,2024-01-04,출발시간,0,ST-1092,풍납2동_026_1,ST-502,성내1동_007_1,1,5,1063
...,...,...,...,...,...,...,...,...,...,...
112737,2024-01-06,도착시간,2355,ST-884,중앙동_009_1,ST-1548,은천동_065_1,1,6,960
112738,2024-01-06,도착시간,2355,ST-913,월계3동_039_1,ST-2708,월계2동_025_1,1,9,1569
112739,2024-01-06,도착시간,2355,ST-919,고척1동_006_1,ST-1227,개봉1동_050_1,1,6,353
112740,2024-01-06,도착시간,2355,ST-93,상암동_026_4,ST-43,신촌동_030_2,1,37,4579
112741,2024-01-06,도착시간,2355,ST-950,조원동_032_1,ST-709,미성동_014_1,1,11,1878

In [122]:
df_rent1['기준_날짜'] = df_rent1['기준_날짜'].astype('str')
df_rent1['기준_날짜'] = pd.to_datetime(df_rent1['기준_날짜'], format='%Y-%m-%d')
# cond = df_rent1['기준_날짜']=='2024-01-04'
cond = (df_rent1['기준_날짜']=='2024-01-05 00:00:00') & (df_rent1['시작_대여소_ID']=='ST-2031') & (df_rent1['종료_대여소_ID']=='ST-2031')
cond = (df_rent1['기준_날짜']=='2024-01-05 00:00:00') & (df_rent1['시작_대여소_ID']=='ST-2031') & (df_rent1['종료_대여소_ID']=='ST-2045')
print(df_rent1.loc[cond,:])
# df_rent1

Empty DataFrame
Columns: [기준_날짜, 집계_기준, 기준_시간대, 시작_대여소_ID, 시작_대여소명, 종료_대여소_ID, 종료_대여소명, 전체_건수, 전체_이용_분, 전체_이용_거리]
Index: []