In [1]:
import streamlit as st
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 데이터 불러오기 : 마스터파일
file_path = './data/SeoulBikeData.csv'
df_weather = pd.read_csv(file_path,encoding='cp949')


# 데이터 전처리
# 한글이 깨진 컬럼명 변경
df_weather.rename(columns={'Temperature(캜)':'Temperature',
                           'Dew point temperature(캜)':'Dew point temperature'},inplace=True)

# # Date 컬럼을 Datetime으로 변경
df_weather['Date'] = pd.to_datetime(df_weather['Date'])

# # Month 컬럼 추가
# df_weather['Month'] = pd.to_datetime(df_weather['Date']).dt.month
print(df_weather)

           Date  Rented Bike Count  Hour  Temperature  Humidity(%)  \
0    2017-01-12                254     0         -5.2           37
1    2017-01-12                204     1         -5.5           38
2    2017-01-12                173     2         -6.0           39
3    2017-01-12                107     3         -6.2           40
4    2017-01-12                 78     4         -6.0           36
...         ...                ...   ...          ...          ...
8755 2018-11-30               1003    19          4.2           34
8756 2018-11-30                764    20          3.4           37
8757 2018-11-30                694    21          2.6           39
8758 2018-11-30                712    22          2.1           41
8759 2018-11-30                584    23          1.9           43

      Wind speed (m/s)  Visibility (10m)  Dew point temperature  \
0                  2.2              2000                  -17.6
1                  0.8              2000                  -17.6
2                  1.0              2000                  -17.7
3                  0.9              2000                  -17.6
4                  2.3              2000                  -18.6
...                ...               ...                    ...
8755               2.6              1894                  -10.3
8756               2.3              2000                   -9.9
8757               0.3              1968                   -9.9
8758               1.0              1859                   -9.8
8759               1.3              1909                   -9.3

      Solar Radiation (MJ/m2)  Rainfall(mm)  Snowfall (cm) Seasons  \
0                         0.0           0.0            0.0  Winter
1                         0.0           0.0            0.0  Winter
2                         0.0           0.0            0.0  Winter
3                         0.0           0.0            0.0  Winter
4                         0.0           0.0            0.0  Winter
...                       ...           ...            ...     ...
8755                      0.0           0.0            0.0  Autumn
8756                      0.0           0.0            0.0  Autumn
8757                      0.0           0.0            0.0  Autumn
8758                      0.0           0.0            0.0  Autumn
8759                      0.0           0.0            0.0  Autumn

         Holiday Functioning Day
0     No Holiday             Yes
1     No Holiday             Yes
2     No Holiday             Yes
3     No Holiday             Yes
4     No Holiday             Yes
...          ...             ...
8755  No Holiday             Yes
8756  No Holiday             Yes
8757  No Holiday             Yes
8758  No Holiday             Yes
8759  No Holiday             Yes

[8760 rows x 14 columns]

C:\Users\human\AppData\Local\Temp\ipykernel_4048\210619535.py:18: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df_weather['Date'] = pd.to_datetime(df_weather['Date'])

In [3]:
df_weather.loc[:,['Date','Rented Bike Count','Hour','Temperature','Humidity(%)']]

           Date  Rented Bike Count  Hour  Temperature  Humidity(%)
0    2017-01-12                254     0         -5.2           37
1    2017-01-12                204     1         -5.5           38
2    2017-01-12                173     2         -6.0           39
3    2017-01-12                107     3         -6.2           40
4    2017-01-12                 78     4         -6.0           36
...         ...                ...   ...          ...          ...
8755 2018-11-30               1003    19          4.2           34
8756 2018-11-30                764    20          3.4           37
8757 2018-11-30                694    21          2.6           39
8758 2018-11-30                712    22          2.1           41
8759 2018-11-30                584    23          1.9           43

[8760 rows x 5 columns]